extends ../layout
block links
  link(rel="alternate", type="application/rss+xml", title="Breaking News", href="/rss/BreakingNews.xml")

block content
  //- img(src="/images/Scripps_Family_Frist_Logo_FINAL.png")
  h1 RSS feeds
  ul.list-unstyled.lead

    for feed in feeds
      li
       a(href='/rss/feed?rss=#{feed.title}') #{feed.display}
    else
      li no feeds found.
  hr
  h2 Manual entries
  ul.list-unstyled
    for item in items.slice(0, 10)
      li(id="#{item.id}", title="#{item.summary}")
        a(href="/rss/#{item.id}")!= item.feed + " - " + item.title + " - " + item.created_at.toFormat('MM/DD/YYYY HH:MI PP') + " - " +  (item.expires_at || new Date().addYears(-1)).toFormat('MM/DD/YYYY HH:MI PP') + " "
        form.form-inline(name="delete", action="/rss/delete", method="post")
            input(type="hidden", name="id", value="#{item.id}")
            button.btn-link.btn-red(type="submit", title="Delete")
              i.fa.fa-close
    else
      li sorry, no items!

  a(href='/rss/newItem')
    i.fa.fa-plus
    New entry
